# Copyright (c) 2020 The University of Manchester
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# This workflow will install Python dependencies, run tests, lint and rat with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: C Actions

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Checkout SupportScripts
      uses: actions/checkout@v3
      with:
        repository: SpiNNakerManchester/SupportScripts
        path: support

    - name: Install cross-compiler
      uses: ./support/actions/apt-get-install
      with:
        packages: doxygen gcc-arm-none-eabi
    - name: Checkout SpiNNaker Dependencies
      uses: ./support/actions/checkout-spinn-deps
      with:
        repositories: spinnaker_tools

    - name: Build dependency libraries
      run: |
        make -C spinnaker_tools/sark
        make -C spinnaker_tools/spin1_api
        make sllt.tag
      env:
        SPINN_DIRS: ${{ github.workspace }}/spinnaker_tools

    - name: Build C code
      run: make all install
      env:
        GCC_COLORS: error=01;31:warning=01;35:note=01;36:range1=32:range2=34:locus=01:quote=01:fixit-insert=32:fixit-delete=31:diff-filename=01:diff-hunk=32:diff-delete=31:diff-insert=32
        CFLAGS: -fdiagnostics-color
        SPINN_DIRS: ${{ github.workspace }}/spinnaker_tools

    - name: "Check: Lint include code using Vera++"
      uses: ./support/actions/vera
      with:
        base-dir: include
        options: -P max-line-length=2500
    - name: "Check: Lint source code using Vera++"
      uses: ./support/actions/vera
      with:
        base-dir: src

    - name: Run rat copyright enforcement
      uses: ./support/actions/check-copyrights

    - name: Build documentation using doxygen
      run: make doxygen
      env:
        SPINN_DIRS: ${{ github.workspace }}/spinnaker_tools
